.container {
  display: flex; /* Enables flexbox for horizontal alignment */
  justify-content: space-between; /* Ensures space between text and logo */
  align-items: center; /* Vertically aligns items */
  width: 100%; /* Adjust as needed */
  padding: 10px; /* Optional: Adds padding */
}

.text-container {
  display: flex;
  flex-direction: column; /* Stacks text vertically */
  align-items: flex-start; /* Aligns text to the left */
}

.top-text,
.bottom-text {
  font-size: 14px; /* Adjust text size as needed */
  margin: 0; /* Removes default margin */
}

.logo {
  width: 50px; /* Adjust logo size as needed */
  height: auto; /* Maintains aspect ratio */
}

/**/

.mat-mdc-cell {
  border-bottom: 1px solid #efefef !important;
}

#agency-wrapper {
  margin: 0;
  padding: 0;
  line-height: 0.8em;
  font-size: 18px;
  justify-content: center;
}

.steps-count {
  margin: 0;
  line-height: 0;
  margin-right: 5px;
}

table,td {
  color: #222f3e;
}

#queue-container {
  color: #222f3e;
  overflow: hidden;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "column1 column2" "full full";
}

.full-width {
  grid-area: full;
  width: 100%;
}

.mat-mdc-header-cell {
  font-size: 1.3vw !important;
}

.mat-header-cell, .mat-cell {
  text-align: middle;
  width: 100%;
}

th {
  font-size: 25px;
  color: #F9F8FC;
  background-color: #2288E6 !important;
  height: 40px !important;
  line-height: 1em;
}

/* 10 column height - the height of th  */
td { height: calc(calc(100vh - 110px) / 10); }


.mat-column-referenceno {
  border-left: 5px solid #f9f9f9;
  width: 30% !important;
}
/* 3840 x 2160 */

/* window */
td:nth-child(odd) {
  font-size: 2.2vw;
  line-height: 1.0em;
  color: #2c3e50;
}

table tr { border: 1px solid red !important; }
table tr:nth-child(even) { background-color: #f2f2f2; }
table tr:nth-child(odd)  { background-color: #ffffff; }
table tr:hover { cursor: pointer; }

#announcement {
  border: 1px solid #6D6D6D;
  position: fixed;
  grid-template-columns: 1fr;
  bottom: 0;
  height: 52px;
  /* height: 8vh; */
  background-color: #2288E6;
  color: white;
  > marquee {
    /* padding: 1vh; */
    padding: 3px;
    font-weight: bold;
    font-size: 27px;
    /* font-size: 2vw; */
    /* line-height: 2vw; */
    justify-content: center;
    margin-top: 13px;
    margin-right: 10px;
    margin-left: 10px;

  }
}

mat-card {
  font-size: 1.3vw;
  height: 100vh;
  border-radius: 0 !important;
  background-color: #efefef;
  padding: 10px;
  .right-column-container {
    margin-top: 2.5vw;
    border-radius: 10px;
    h2 { // Queuing System
      font-weight: normal !important;
      font-size: 2.8vw;
      text-align: center;
      margin-top: 20px;
      margin-left: 5px;
      font-weight: bold;
      color: #2c3e50;
    }
  }

  #datetime-container {
    margin-top: 20px;
    padding-top: 1vh;
    padding-bottom: 20px;
    text-align: center;
  }
  #stdTime {
    font-weight: bold;
    font-size: 58px;
    /* font-size: 3.9vw; */
    line-height: 1em;
    margin: 5px;
    margin-top: 5px;
  }
  #stdDate {
    font-weight: bold;
    font-size: 30px;
    /* font-size: 1.8vw; */
    margin: 0;
    color: #2c3e50;
  }
  > h5 {
    margin: 0;
    font-size: 22px;
    line-height: 1.5em;
    font-weight: bold;
  }
  img {
    position: absolute;
    height: 73px;
    width: 73px;
    top: 10px;
    right: 10px;
  }

  video {
    border: 1vh solid #dbdbdb;
    height: 15vw;
    width: 100%;
    text-align: center !important;
    justify: center !important;
    background-color: #222222;
  }
}


/* .vid-min { */
/*   border: 10px solid #dbdbdb; */
/*   height: 41vh; */
/*   transition: height  0.5s ease; */
/*   border-radius: 5px; */
/*   background-color: #222222; */
/* } */

.vid-max {
  position: fixed;
  border: none;
  transition: height  0.5s ease;
  height: 100vh !important;
  width: 100vw !important;
  border: none !important;
  border-radius: 0;
  top: 0;
  left: 0;
  z-index: 1000;
}


